*{
    margin: 0px;
}

.Navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Sofia Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #09172D;
}

.Logo{
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    font-style: italic;
}

li{
    display: inline-block;
    margin: 20px;
}